@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Jua');

#question{
	font-weight:bolder;
	color:#3A26D0;
	font-size:20px; 
}
div.card{
	width: 250px;
	margin:20px;
	
}
a.card-link{
	font-size: 13px;
}
div{
	font-family: 'Jua', sans-serif;
}


